<style>
  /* custom/templates/custom/header.tmpl */

  .issue.list > .item {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(34,36,38,.15);
  }

  .issue.list > .item .desc {
    padding-top: 4px;
  }

  .issue.list > .item .comment {
    margin-top 4px;
  }

  .mcIssueTags {
    margin-top: -14px;
  }

  .mcIssueTags > a {
    margin-top: 4px !important;
    margin-right: -2px !important;
  }
</style>

